<div class="main-container">
  <mat-list>
    <mat-list-item><span>UserId: {{user?.id}}</span></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>Name: {{user?.name}}</span></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>Date of Birth: {{user?.date}}</span></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>Age: {{user?.age}}</span></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>Address: <address>{{user?.address}}</address></span></mat-list-item>
  </mat-list>
</div>
